.home-container {
  min-height: 100vh;
  background-color: var(--primary-color);
  text-align: var(--justify-content);
  padding-bottom: var(--padding-1);
}

.title {
  text-align: left;
  font-size: var(--tertiary-font-size);
  font-weight: var(--primary-font-weight);
  margin-bottom: var(--padding-1);
}
.title-search-container {
  justify-content: space-around;
  margin-top: var(--padding-2);
  box-shadow: none;
}
